.square {
    background-color: #FF0000;
    padding: 30px;
}
.botao {
    background-color: blue;
    color: #FFF;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
}
.legend {
    color: #00FF00;
}